/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* Variables */
body {
  color: white;
}
h3 {
  font-weight: 400;
}
.satellite {
  font-family: 'satelliteregular', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0;
}
section {
  display: block;
  height: 800px;
  overflow: hidden;
}
.content {
  margin-top: 20px;
}
.two-col {
  float: left;
  width: 50%;
}
.hidden {
  visibility: hidden;
}
.no-display {
  display: none;
}
.main-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: auto;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
}
.main-menu .header {
  margin: 0;
  padding: 0;
  height: 65px;
  display: block;
  width: 100%;
}
.main-menu .header #logo {
  float: left;
  width: 35%;
}
.main-menu .header #logo img {
  margin: 7.5px 0 7.5px 20px;
}
.main-menu .header #social {
  width: 65%;
  float: left;
}
.main-menu .header #social #icon-list {
  padding-right: 20px;
}
.main-menu .header #social #icon-list li {
  float: right;
  width: 50px;
  height: 50px;
  margin: 7.5px;
}
.main-menu .header #social #icon-list #fbook {
  background: url(../images/fbook.png) right;
}
.main-menu .header #social #icon-list #fbook:hover {
  background-position: 0 50px;
}
.main-menu .header #social #icon-list #gplus {
  background: url(../images/gplus.png) right;
}
.main-menu .header #social #icon-list #gplus:hover {
  background-position: 0 50px;
}
.main-menu .header #social #icon-list #twitter {
  background: url(../images/twitter.png) right;
}
.main-menu .header #social #icon-list #twitter:hover {
  background-position: 0 50px;
}
.main-menu .button-menu a {
  height: 150px;
  float: left;
  display: block;
  width: 20%;
  text-align: center;
}
.main-menu .button-menu a .button-icon {
  width: 100%;
  padding: 20px 0 5px 0;
}
.main-menu .button-menu a span {
  float: left;
  width: 100%;
}
.main-menu .button-menu a .button-text {
  padding-top: 5px;
}
.main-menu .button-menu a:hover {
  -webkit-animation: background-color 300ms 0s ease-in-out;
  -moz-animation: background-color 300ms 0s ease-in-out;
  -ms-animation: background-color 300ms 0s ease-in-out;
}
.main-menu .button-menu .app {
  background-color: #cecece;
}
.main-menu .button-menu .discover {
  background-color: #756f71;
}
.main-menu .button-menu .discover:hover {
  background-color: #80646d;
}
.main-menu .button-menu .about {
  background-color: #413d42;
}
.main-menu .button-menu .about:hover {
  background-color: #453748;
}
.main-menu .button-menu .locations {
  background-color: #f05252;
}
.main-menu .button-menu .locations:hover {
  background-color: #dd6565;
}
.main-menu .button-menu .contact {
  background-color: #dbcdb8;
}
.main-menu .button-menu .contact:hover {
  background-color: #d3cbc0;
}
.arrow {
  z-index: 50;
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -35px;
  text-align: center;
  opacity: .3;
}
.arrow .arrow-down {
  background: url(../images/arrow-down.png) center;
  width: 70px;
  height: 70px;
}
.arrow .arrow-up {
  background: url(../images/arrow-up.png) center;
  width: 70px;
  height: 70px;
}
#home {
  background: url(../images/concierge.jpg) top center;
}
#home .content {
  text-align: center;
  margin-top: 360px;
}
#home .content h2,
#home .content h3 {
  color: white;
}
#home .content form {
  margin: 30px;
}
#home .content form input {
  width: 300px;
}
#home .content form button {
  color: white;
  border-color: #f05252;
  background-color: #f05252;
  text-transform: uppercase;
}
#home .content #email-success {
  z-index: 2;
  margin-top: 30px;
  display: none;
}
#app {
  color: #413d42;
  background-color: #cecece;
}
#app .content {
  width: 75%;
  margin: auto;
}
#app .content #iphone-app img {
  vertical-align: bottom;
  margin: auto;
}
#app .content #app-desc {
  text-align: center;
  margin-top: 50px;
}
#discover {
  background-color: #756f71;
}
#discover .content {
  margin-top: 30px;
  text-align: center;
}
#discover .content .disc-desc {
  float: left;
  width: 100%;
}
#discover .content #disc-icons {
  display: block;
  text-align: center;
  max-width: 1000px;
  height: 250px;
  margin: 30px auto 0;
}
#discover .content #disc-icons .feature-icon {
  float: left;
  width: 16.66%;
  height: 120px;
  opacity: 0;
  margin-top: 600px;
}
#discover .content #disc-icons .feature-icon span {
  width: 100%;
  float: left;
  margin-top: 10px;
}
#about {
  background-color: #413d42;
}
#about #lohtus-overlay {
  z-index: 1;
  position: absolute;
  background: url(../images/lohtus-trans.png) top center;
  width: 1000px;
  height: 800px;
  left: 50%;
  margin-left: -500px;
  opacity: .5;
}
#about .content {
  z-index: 3;
}
#about .content .founder-desc {
  margin: auto;
  text-align: center;
}
#locations {
  background-color: #f05252;
  background: url(../images/skylinetrans.png) center bottom;
}
#contact {
  background-color: #dbcdb8;
}
#contact form {
  width: 300px;
}
#contact form button {
  color: white;
  border-color: #f05252;
  background-color: #f05252;
  text-transform: uppercase;
}
