@import "mixins";

/* Variables */
@ltgrey: #CECECE;
@midgrey: #756F71;
@drkgrey: #413D42;
@pink: #F05252;
@beige: #DBCDB8;
@condensed-nav: 95px;
@expanded-nav: 215px;
@icon-position: 180px;
@top-margin: 360px;

body {
    color: white;
}

h3 {
    font-weight: 400;
}

.satellite {
    font-family: 'satelliteregular', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

a, a:link, a:visited, 
a:hover, a:active {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
}

section {
    display: block;
    height: 800px;
    overflow: hidden;
}

.content {
    margin-top: 20px;
}

.two-col {
    float: left;
    width: 50%;
}

.hidden {
    visibility: hidden;    
}

.no-display {
    display: none;
}

.main-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: auto;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    .header {
        margin: 0;
        padding: 0;
        height: 65px;
        display: block;
        width: 100%;
        #logo {
            float: left;
            width: 35%;
            img {
                margin: 7.5px 0 7.5px 20px;
            }
        }
        #social {
            width: 65%;
            float: left;
            #icon-list {
                padding-right: 20px;
                li {
                    float: right;
                    width: 50px;
                    height: 50px;
                    margin: 7.5px;
                }
                #fbook {
                    background: url(../assets/fbook.png) right;
                }
                #fbook:hover {
                    background-position: 0 50px;
                }
                #gplus {
                    background: url(../assets/gplus.png) right;
                }
                #gplus:hover {
                    background-position: 0 50px;
                }
                #twitter {
                    background: url(../assets/twitter.png) right;
                }
                #twitter:hover {
                    background-position: 0 50px;
                }
            }
        }
    }
    .button-menu {
        a {
            height: 150px;
            float: left;
            display: block;
            width: 20%;
            text-align: center;
            .button-icon {
                width: 100%;
                padding: 20px 0 5px 0;
            }
            span {
                float: left;
                width: 100%;
            }
            .button-text {
                padding-top: 5px;
            }
        }
        a:hover {
            .animation (background-color, 300ms, 0s, ease-in-out);
        }
        .app {
            background-color: @ltgrey;
        }
        .app:hover {
            //background-color: saturate(@ltgrey, 20%);
        }
        .discover {
            background-color: @midgrey;
        }
        .discover:hover {
            background-color: saturate(@midgrey, 10%);
        }
        .about {
            background-color: @drkgrey;
        }
        .about:hover {
            background-color: saturate(@drkgrey, 10%);
        }
        .locations {
            background-color: @pink;
        }
        .locations:hover {
            background-color: desaturate(@pink, 20%);
        }
        .contact {
            background-color: @beige;
        }
        .contact:hover {
            background-color: desaturate(@beige, 15%);
        }
    }
}

.arrow {
    z-index: 50;
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -35px;
    text-align: center;
    opacity: .3;
    .arrow-down {
        background: url(../assets/arrow-down.png) center;
        width: 70px;
        height: 70px;
    }
    .arrow-up {
        background: url(../assets/arrow-up.png) center;
        width: 70px;
        height: 70px;
    }
}

#home {
    background: url(../assets/concierge.jpg) top center;
    .content {
        text-align: center; 
        margin-top: 360px;
        h2, h3 {
            color: white;
        }
        form {
            margin: 30px;
            input {
                width: 300px;
            }
            button {
                color: white;
                border-color: @pink;
                background-color: @pink;
                text-transform: uppercase;
            }
        }
        #email-success {
            z-index: 2;
            margin-top: 30px;
            display: none;
        }
    }
}

#app {
    color: @drkgrey;
    background-color: @ltgrey;
    .content {
        width: 75%;
        margin: auto;
        #iphone-app {
            img {
                vertical-align: bottom;
                margin: auto;
            }
        }
        #app-desc {
            text-align: center;
            margin-top: 50px;
        }
    }
}

#discover {
    background-color: @midgrey;
    #bgvid {
        position: absolute;
        bottom: 50%; 
        right: 50%;
        transform: translateX(-50%) translateY(-50%)
        min-width: 100%; 
        min-height: 100%; 
        width: auto; 
        height: auto;
        z-index: -1000; 
        overflow: hidden
    }
    .content {
        margin-top: 30px;
        text-align: center;
        .disc-desc {
            float: left;
            width: 100%;
        }
        #disc-icons {
            display: block;
            text-align: center;
            max-width: 1000px;
            height: 250px;
            margin: 30px auto 0;
            .feature-icon {
                float: left;
                width: 16.66%;
                height: 120px;
                opacity: 0;
                margin-top: 600px;
                span {
                    width: 100%;
                    float: left;
                    margin-top: 10px;
                }
            }
        }
    }
}

#about {
    background-color: @drkgrey;
    #lohtus-overlay {
        z-index: 1;
        position: absolute;
        background: url(../assets/lohtus-trans.png) top center;
        width: 1000px;
        height: 800px;
        left: 50%;
        margin-left: -500px;
        opacity: .5;
    }
    .content {
        z-index: 3;
        .founder-desc {
            margin: auto;
            text-align: center;
            img {

            }
        }
    }
}

#locations {
    background-color: @pink;
    background: url(../assets/skylinetrans.png) center bottom;
}

#contact {
    background-color: @beige;
    form {
        width: 300px;
        button {
            color: white;
            border-color: @pink;
            background-color: @pink;
            text-transform: uppercase;
        }
    }
}